@tailwind base;
@tailwind components;
@tailwind utilities;

#swup {
  transition: opacity 0.5s;
  opacity: 1;
}

html.is-animating #swup {
  opacity: 0;
}

footer a:hover {
  text-decoration: underline;
}
