<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RateTheDub</title>
    <meta name="description" content="Was the dub for that anime any good?" />
    <link
      rel="stylesheet"
      href="<%= Routes.static_path(@conn, "/css/app.css") %>"
    />
    <script
      defer
      type="text/javascript"
      src="<%= Routes.static_path(@conn, "/js/app.js") %>"
    ></script>
  </head>
  <body>
    <header class="p-4 sticky flex flex-row flex-nowrap justify-between">
      <a
        href="<%= Routes.page_path(@conn, :index, @locale) %>"
        class="align-middle"
      >
        <h1>RateTheDub</h1>
      </a>

      <section class="inline align-middle">
        <%= form_for @conn, Routes.search_path(@conn, :index, @locale), [name: :search, method: :get], fn f -> %>
          <%= text_input f, :q, value: assigns[:q], class: "p-1" %>
          <%= submit "Search" %>
        <% end %>
      </section>

      <%= link "About", to: Routes.page_path(@conn, :about, @locale), class: "align-middle" %>
    </header>

    <main role="main" class="md:max-w-3xl mx-auto">
      <p class="alert alert-info" role="alert">
        <%= get_flash(@conn, :info) %>
      </p>
      <p class="alert alert-danger" role="alert">
        <%= get_flash(@conn, :error) %>
      </p>
      <%= @inner_content %>
    </main>

    <footer class="flex flex-row justify-end">
      <select name="locale">
        <%= for loc <- Gettext.known_locales(RateTheDubWeb.Gettext) do %>
          <option value="<%= loc %>">
            <%= loc %>
          </option>
        <% end %>
      </select>
      <p class="mx-4">
        <%= gettext "Data provided by" %>
        <a href="https://jikan.moe">Jikan</a>
      </p>
      <nav>
        <a href="/about#contact"><%= gettext "Contact" %></a>
        <a href="/about#feedback"><%= gettext "Feedback" %></a>
        <a href="/about#donate"><%= gettext "Donate" %></a>
      </nav>
    </footer>
  </body>
</html>
