<!DOCTYPE html>
<html lang="<%= assigns[:locale] || "en" %>" class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link
      rel="preload"
      as="style"
      href="<%= Routes.static_path(@conn, "/css/app.css") %>"
    />

    <link
      rel="preload"
      as="font"
      href="<%= Routes.static_path(@conn, "/fonts/poppins-latin-400-normal.woff2") %>"
      type="font/woff2"
    />

    <title>
      RateTheDub<%= if assigns[:series], do: " - " <> @series.title %>
    </title>
    <meta name="og:title" content="RateTheDub<%= if assigns[:series], do: " - " <> @series.title %>" />

    <script type="module">
      document.documentElement.classList.remove('no-js');
      document.documentElement.classList.add('js');
    </script>

    <meta name="og:site_name" content="RateTheDub" />
    <meta name="og:type" content="website" />
    <meta name="og:url" content="https://ratethedub.com" />

    <meta
      name="og:image"
      content="https://ratethedub.com<%= Routes.static_path(@conn, "/images/og-logo.png") %>"
    />
    <meta name="og:image:alt" content="RateTheDub Logo" />
    <meta name="twitter:card" content="summary_large_image">


    <%= if assigns[:locale] do %>
      <meta name="og:locale" content="<%= @locale %>" />
      <link rel="canonical" href="https://ratethedub.com<%= String.replace(@conn.request_path, "/" <> @locale, "") %>" />
    <% else %>
      <link rel="canonical" href="https://ratethedub.com<%= @conn.request_path %>" />
    <% end %>

    <% alt_locales = if assigns[:series], do: @series.dubbed_in, else: Gettext.known_locales(RateTheDubWeb.Gettext) %>
    <% alt_locales = if assigns[:locale], do: List.delete(alt_locales, @locale), else: alt_locales %>
    <%= for lang <- alt_locales do %>
      <meta name="og:locale:alternate" content="<%= lang %>" />
    <% end %>

    <%= if assigns[:series] && assigns[:locale] do %>
      <meta
        name="description"
        content="<%= gettext "Is the %{lang} dub for %{title} any good?", lang: RateTheDub.Locale.locale_own_name(@locale), title: @series.title %>"
      />
      <meta
        name="og:description"
        content="<%= gettext "Is the %{lang} dub for %{title} any good?", lang: RateTheDub.Locale.locale_own_name(@locale), title: @series.title %>"
      />
    <% else %>
      <meta
        name="description"
        content="<%= gettext "Is the dub for that anime any good?" %>"
      />
      <meta
        name="og:description"
        content="<%= gettext "Is the dub for that anime any good?" %>"
      />
    <% end %>

    <link
      rel="stylesheet"
      href="<%= Routes.static_path(@conn, "/css/app.css") %>"
    />

    <script
      defer
      type="text/javascript"
      src="<%= Routes.static_path(@conn, "/js/app.js") %>"
    ></script>

    <link rel="icon" href="/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/images/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/images/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/images/favicon-16x16.png"
    />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="theme-color" content="#4f5d75" />
  </head>
  <body
    class="h-screen w-screen overflow-x-hidden flex flex-col text-space-cadet dark:text-white bg-white dark:bg-space-cadet"
  >
    <noscript class="bg-fire-opal text-white text-bold text-center p-2">
      <strong>Heads up!</strong> While we try to make RateTheDub work without JavaScript, some things may break!
    </noscript>

    <header
      class="p-4 mb-8 flex flex-col md:flex-row flex-nowrap justify-between items-center"
    >
      <a
        href="<%= Routes.page_path(@conn, :index, @locale) %>"
        class="align-middle"
      >
        <h1 class="text-4xl mb-4 md:mb-0 md:text-2xl md:w-full">
          <span class="bg-mandarin text-white font-bold rounded-sm px-1.5"
            >Rate</span
          >
          <small style="margin: 0 -0.2rem">the</small>
          <span class="bg-independence text-white font-bold rounded-sm px-1.5"
            >Dub</span
          >
          &beta;
        </h1>
      </a>

      <%= form_for @conn,
        Routes.search_path(@conn, :index, @locale),
        [
          autocomplete: "off",
          name: :search,
          method: :get,
          data_swup_form: true,
          class: "flex flex-row flex-grow items-center flex-nowrap my-4 max-w-prose md:my-0 md:mx-10 bg-gray-100 dark:bg-independence"
        ],
        fn f -> %>
        <%= text_input f, :q, value: assigns[:q], placeholder: gettext("Search"), class: "p-2 bg-transparent flex-grow w-full" %>
        <button type="submit" class="p-2">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
            />
          </svg>
        </button>
      <% end %>

      <div>
      <%= link "About", to: Routes.page_path(@conn, :about, @locale), class: "hover:underline" %>
      <%= form_for @conn, "/", [class: "inline"], fn f -> %>
        <%= select f, :locale, Gettext.known_locales(RateTheDubWeb.Gettext), class: "bg-gray-100 p-1 dark:bg-space-cadet" %>
      <% end %>
      </div>
    </header>

    <main id="swup" class="swup-transition-fade container flex-grow mx-auto" tabindex="0">
      <%= if get_flash(@conn, :info) do %>
      <p class="text-bold text-center text-white bg-dark-olive my-4 mx-auto p-2 w-max max-w-full" role="alert">
        <%= get_flash(@conn, :info) %>
      </p>
      <% end %>
      <%= if get_flash(@conn, :error) do %>
      <p class="text-bold text-center text-white bg-fire-opal my-4 mx-auto p-2 w-max max-w-full" role="alert">
        <%= get_flash(@conn, :error) %>
      </p>
      <% end %>

      <%= @inner_content %>
    </main>

    <footer class="flex flex-col items-center md:flex-row justify-between p-4">
      <span>Copyright &copy; <%= Date.utc_today().year %></span>
      <a href="https://github.com/rushsteve1/RateTheDub" target="_blank">
        <%= gettext "Contribute on %{gh}", gh: "GitHub" %>
      </a>
      <a href="https://jikan.moe" target="_blank">
        <%= gettext "Data provided by %{jikan}", jikan: "Jikan" %>
      </a>
      <nav>
        <a href="/about#contact" class="mr-4"><%= gettext "Contact" %></a>
        <a href="/about#feedback" class="mr-4"><%= gettext "Feedback" %></a>
        <a href="/about#donate"><%= gettext "Donate" %></a>
      </nav>
    </footer>
  </body>
</html>
